#form11{
    height:35px;
    width:300px;
    border-radius: 10px;
   
}
#form22{
    height:35px;
    width:300px;
    border-radius: 10px;
    margin-top: 20px;
}
#form33{
    height:35px;
    width:300px;
    border-radius: 10px;
    margin-top: 20px;
}

#form44{
    height:35px;
    width:300px;
    border-radius: 10px;
    margin-top: 20px;
}
#firstdiv1{
    margin-left: 50px;
    margin-top: 50px;
    margin:auto;
    display: block;
}

input::placeholder{
    padding-left: 20px;
    font-size: 15px;
}
#loadedImg1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}